
<nav>
    <div class="nav-wrapper  deep-orange darken-3">

      <div class="mainWdh">
        <a routerLink="/" class="brand-logo"><i class="material-icons">devices</i>Watcher</a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li routerLinkActive="active " >
              <a routerLink="/login">Log in</a>
            </li>
            <li routerLinkActive="active ">
              <a routerLink="/register">Sign in</a>
            </li>
        </ul>
      </div>
        

    </div>
</nav>

<div class="auth-block">
  <router-outlet></router-outlet>
</div>
